@font-face {
    font-family: 'Poppins';
    src: url('sample/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #15C6B4;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(87, 87, 87, 0.2);
}

#header {
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 94%;
    padding: 12px;
    background: #f1f1f1;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #15C6B4;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5;
}

select {
    width: 100%;
    padding: 12px;
    background: #f1f1f1;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button:hover {
    background: #0e8c80;
    transition: 0.3s;
}

p {
    text-align: center;
    font-size: 14.5px;
    margin-bottom: 10px;
}

p a {
    color: #15C6B4;
    text-decoration: none;
}

p a:hover {
    color: #15C6B4;
    transition: 0.5s;
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: #fcf2e9;
    border-radius: 6px;
    font-size: 16px;
    color: #df6a6a;
    text-align: center;
    margin-bottom: 20px;
}